$f: #79797915
    
body 
    font-family: 'Rubik', sans-serif
 
.avatar
    width: 50px
    height: auto

.logo
    
    &-img 
        width: 200px


.comment-avatar 
    width: 60px
    height: auto
    padding-right: 20px


// .site-content
//     display: flex

.sidebar
    
    padding: 25px
    font-size: 15px
    
    &-menu
        background-color: $f
        border-radius: 50px
        padding: 25px
        border-radius: 20px
    &-desc 
        color: #949494        
    a 
        text-decoration: none
        color: #000
        font-weight: 500
    ul 
        padding: 0
        list-style: none
    li 
        margin-bottom: 6px
    a:hover 
        border-bottom: 1px solid
        color: #252525

.content
    background-color: $f
    padding: 25px
    border-radius: 50px
    
    
